{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
  <main class="container py-5 text-center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-start">Symbol</th>
          <th class="text-start">Name</th>
          <th class="text-end">Shares</th>
          <th class="text-end">Price</th>
          <th class="text-end">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            <td>{{row['symbol']}}</td>
            <td>{{row['name']}}</td>
            <td>{{row['shares']}}</td>
            <td>{{row['price']}}</td>
            <td>{{row['total']}}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
          <td>{{cash}}</td>
        </tr>
        <tr>
          <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
          <td><b>{{sum}}</b></td>
        </tr>
      </tfoot>
    </table>
  </main>
{% endblock %}