{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

<main class="container py-5 text-center">
            
  <form action="/sell" method="post">
      <div class="mb-3">
          <select class="form-select mx-auto w-auto" name="symbol">
              <option value="" disabled selected>Symbol</option>
                {% for row in portfolio %}
                  <option value="{{row['symbol']}}">{{row['symbol']}}</option>
                {% endfor %}
          </select>
      </div>
      <div class="mb-3">
          <input autocomplete="off" class="form-control mx-auto w-auto" min="0" name="shares" placeholder="Shares" type="number">
      </div>
      <button class="btn btn-primary" type="submit">Sell</button>
  </form>

      </main>

{% endblock %}